@mixin font($font-family, $font-folder) 
	@font-face 
		font-family: $font-family;
		src: url($font-folder+$font-family+'.ttf')
		// src: url($font-file+'.eot?#iefix') format('embedded-opentype'),url($font-file+'.woff') format('woff'),url($font-file+'Regular.ttf') format('truetype')
		// font-weight: normal
		// font-style: normal
		font-size: 10pt
		unicode-range: U+0000-07FF
		font-display: block


// @include font('TriviaSans', '/fonts/TriviaSans', 'Regular');
@include font('TriviaSansRegular', 'https://tikvik.github.io/rcnkskweb/dist/fonts/');
@include font('TriviaSansMedium', 'https://tikvik.github.io/rcnkskweb/dist/fonts/');
@import "mixins.scss"
@import "table.sass"




	



$gap: 4vh
$black: black
$gray: gray
$white: white
$pcolor: white
$underline: 2px
$font-size: 10pt
$font-size-sm: 9pt
// .carousel2
// 	background-color: $white




html
	text-rendering: optimizeLegibility
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	height: 100%
	font-size: $font-size


h1
	margin-inline-start: $gap/1.75
	margin-block-start: 0
	margin-block-end: 10pt
	font-family: TriviaSansMedium
	font-size: $font-size
	font-weight: normal
	position: relative

h2	
	margin-inline-start: $gap/1.75
	margin-block-start: 0
	margin-block-end: 0
	// margin-block-end: 0.83em
	font-size: $font-size
	font-family: TriviaSansMedium
	font-weight: normal
	position: relative
	&:before
		display: inline-block
		text-indent: -10069px
		width: 7px
		height: 7px
		background: url("../images/headarrow.svg")
		background-size: 7px 7px
		content: ""
		background-repeat: no-repeat
		position: absolute
		bottom: 6px
		left: - $gap/1.75
	
h3
	@extend h1



p
	margin-block-end: $gap/2



ul
	// padding-inline-start: 0
	margin-block-start: $gap/6
	margin-block-end: $gap
	li
		margin-block-end: $gap/8






.img-fluid
	max-width: 100%
	height: auto
	max-height: 90vh
	margin: auto auto


#myModal
	z-index: 5000
#myModal2
	z-index: 6000
.pmodal-ico
	cursor: url("../images/magnif.png") 34 12, auto !important

.pmodal
	display: none /* Hidden by default */
	position: fixed /* Stay in place */
	z-index: 1 /* Sit on top */
	left: 0
	top: 0
	width: 100% /* Full width */
	height: 100% /* Full height */
	overflow: auto /* Enable scroll if needed */
	background-color: rgb(0,0,0) /* Fallback color */
	background-color: white /* Black w/ opacity */


/* Modal Content/Box */
.pmodal-content 
	// background-color: #fefefe
	//* 15% from the top and centered */
	// border: 1px solid #888
	width: 90% !important /* Could be more or less, depending on screen size */
	position: relative
	cursor: url("../images/ico_close.svg") 34 12, auto !important
	margin: auto auto

/* The Close Button */
.pclose
	position: absolute
	top: -20px
	right: -20px
	float: right
	color: $black
	font-size: 48px
	font-weight: bold
	z-index: 6000

.pclose:hover,
.pclose:focus 
	color: $black
	text-decoration: none
	cursor: pointer


.svgimg
	height: 40px
	margin: $gap

.slick-arrow
	height: 100% !important
// .slick-track
// 	display: flex !important
// 	align-items: center !important
// 	.slick-slide
// 		align-self: center !important

.flexmodal
	display: flex
	background-color: red


.archive-item
	height: $gap*5
	display: block


.item-container
	min-height: $gap*2.5
	overflow: hidden
	a
		display: block


.reset
	min-height: $gap
	&:hover
		background-color: white !important


.atribute-img
	&:before
		content: none
	width: 120px
	display: block
	.crop
		position: relative
		overflow: hidden
		width: 120px
		height: 120px
		img
			position: absolute
			left: 50%
			top: 50%
			height: 100%
			width: 100%
			object-fit: cover
			-webkit-transform: translate(-50%,-50%)
			    -ms-transform: translate(-50%,-50%)
			        transform: translate(-50%,-50%)


@media screen and (max-width: 736px)
	.nevim
		display: block
		float: right
		width: 55%

	.atribute-img
		width: 180px
		.crop
			margin-bottom: $gap/2
			margin-right: $gap/2
			float: left
			position: relative
			overflow: hidden
			width: 180px
			height: 180px
			img
				position: absolute
				left: 50%
				top: 50%
				-webkit-transform: translate(-50%,-50%)
				    -ms-transform: translate(-50%,-50%)
				        transform: translate(-50%,-50%)


@media screen and (max-width: 500px)
	.atribute-img
		display: inline
		.crop
			width: $gap*10
			height: $gap*10
			float: none
			margin-left: auto
			margin-right: auto
			
	.nevim
		float: left
		width: 100%

	.item
		padding-bottom: $gap








body

	font-family: TriviaSansRegular
	// letter-spacing: .3px
	background-color: white
	color: rgba(28,32,24,.8)
	font-size: $font-size-sm
	@include for-size(sm)
		font-size: $font-size
	color: $black
	line-height: 1.4
	height: auto
	// margin-top: 5%
	// margin: 0
	// display: flex

	@include for-size(sm)
		padding-top: auto
*
	box-sizing: border-box
a
	color: $black
	position: relative
	outline: none!important
	text-decoration: none
	&:hover
		text-decoration: none!important
		color: $black
	&:focus
		outline: none!important
		-webkit-tap-highlight-color: transparent
.justify-self-end
	justify-self: end

.slick-arrow
	width: 30% !important

.clickable-row
	cursor: pointer
.nav-link
	display: inline-block
	padding: .5rem .2rem
	// min-width: 5rem
	margin: 0 $gap/2.5
	line-height: 1.5
	display: block
	&::after 
		content: ""
		position: absolute
		bottom: 5px
		left: 0px
		width: 0%
		height: $underline
		// @include for-size(sm)
		//  height: $stroke
		background: $black
		// transition: all 0.3s ease
	&:hover
		&::after 
			width: 100%
			background-color: $black

.active
	&::after
		width: 100%


.ulnoindent
	padding-inline-start: 0px


.menu
	grid-area: header
	align-self: end
	display: flex
	justify-content: space-between
	text-align: center
	margin-bottom: -6px
	flex-wrap: wrap
	.logo
		width: 7rem
		order: -1
		@include for-size(sm)
			order: 0
		// width: $gap*3
		// display: inline-flex
	// align-self: start!important
	.nav_menu 
		width: 100%
		// padding-top: 8px
		@include for-size(sm)
			width: auto
			padding-top: auto

	nav
		display: flex
		.navbar-nav
			list-style: none
			display: flex
			flex-direction: row
			margin-left: auto !important
			margin-right: auto !important
			padding: 0
			margin: 0
			.nav-item
				.nav-link
					font-family: TriviaSansMedium
					// letter-spacing
					font-size: $font-size
					// Mělo by být medium


		// Úprava rozestupu pro lang
	.langer
		order: -1
		width: 8rem
		@include for-size(sm)
			order: 0
		.lang
			margin-right: 0 !important
			.nav-item
				.nav-link
					margin: 0 $gap/10



// vypnutí šipek pro mobily
// .slick-slide 
// 	text-align: center


// .slick-slide::before 
// 	content: ''
// 	display: inline-block
// 	height: 100%
// 	vertical-align: middle


// .slick-slide img 
// 	vertical-align: middle
// 	display: inline-block

.slick-initialized .slick-slide 
       float: inherit
       display: inline-block !important
       vertical-align: middle


.credentials
	border: 1px solid red
	display: block

.slick-slider
	.slick-arrow
		display: none !important
		@include for-size(md)
			display: block !important
.nav_menu
	grid-area: pagl

.footer
	grid-area: footer
	align-self: end
	display: flex
	justify-content: space-between
	.nav-link
		margin: 0
		padding: .5rem 0rem
	.footer-left
		margin-top: auto
	.footer-right
		margin-top: auto
		text-align: right
// .pagl
//  grid-area: pagl
//  text-align: left

// .pagr
//  grid-area: pagr
//  text-align: right

// .prev
//  grid-area: footer
//  text-align: left
//  white-space: nowrap

// .next
//  grid-area: footer
//  text-align: right
//  white-space: nowrap

// .project-name
//  grid-area: title
//  text-align: center

// .project-where
//  grid-area: where
//  text-align: center

.project-text-modal
	grid-area: footer
	text-align: center
	margin-top: auto
	.nav-link
		padding-top: 0
		// display: inline

.pcolor
	background-color: $pcolor

// Align self end pro ne.grid elementy
// .wrap div
// 	&:not(.grid)
// 		align-self: end

.hovertext
	text-align: center


.wrap
	display: grid
	grid-template-areas: "header header header header header header header" ". . . . . . ."  "content content content content content content content"  "footer footer footer footer footer footer footer"
	grid-template-columns: 8% $gap/2 $gap/2 auto $gap/2 $gap/2 8%
	grid-template-rows: $gap*2 $gap*1.5 auto $gap*1.5 $gap*1.5
	align-items: center
	@include for-size(sm)
		min-height: 97vh
	padding:  $gap 4%
	overflow: hidden
	// padding:  $gap/1.5 1%
	@include for-size(sm)
		grid-template-rows: $gap*1.5 $gap*1.5 auto $gap*1.5 $gap*2
		grid-template-areas: "header header header header header header header" ". . . . . . ."  "lefts . . content . . rights" "pagl . . title . . pagr"  ". . . where . . ."   "footer footer footer footer footer footer footer"

	
	// background-image: url('/images/grid2.png')
	// background-size: 99%
	// background-repeat: no-repeat
	// background-position: top center

	.grid
		grid-area: content
		ul > *
			&:first-child 
				grid-row: 1 / 1
				grid-column: 1 / 1
		ul
			&:before
				content: ''
				width: 0
				padding-bottom: 100%
				grid-row: 1 / 1
				grid-column: 1 / 1
			list-style: none
			padding: 0
			display: grid
			grid-auto-flow: dense
			margin: 0 auto
			grid-gap: $gap
			grid-template-columns: repeat(auto-fill, minmax(210px, 1fr))
			@include for-size(lg)
				grid-template-columns: repeat(auto-fill, minmax(14vw, 1fr))
			grid-auto-rows: 1fr
			// grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
			// grid-template-rows: repeat(auto-fit, minmax(200px, 1fr))
			li 
				position: relative
				line-height: 0
				a
					display: block
					height: 100%
				img 
					height: 100%
					width: 100%
					opacity: 1
					object-fit: cover
					position: absolute
					transition: opacity 0.1s
					margin: 0 auto 0 auto


// Výjimka z designu index page mezera mezi menu
.body_index
	overflow: hidden
	.wrap
		grid-template-areas: "header header header header header header header" ". . . . . . ."  "content content content content content content content"  ". . . . . . ."  "footer footer footer footer footer footer footer"


.body_projects
	.grid
		ul
			li
				&:hover // Vztaženo k li elementu
					background-color: $pcolor
					img
						opacity: 0
					.hovertext
						opacity: 1
				
				.hovertext 
					position: absolute
					opacity: 0
					top: 50%  
					left: 50%
					transform: translate(-50%, -50%)
					transition: opacity 0.3s
					line-height: 1.2


.body_single
	.hidelg
		@include for-size(sm)
			display: none !important	
	.hidemob
		display: none
		@include for-size(sm)
			display: block !important
	.wrap
		grid-template-areas: "header header header header header header header" ". . . . . . ."  "content content content content content content content" ". . . . . . ." "footer footer footer footer footer footer footer"
	.pag-info
		grid-area: content
		align-self: center !important
		padding-bottom: $gap/4	
	.pag-info2
		grid-area: content
		text-align: right
		align-self: end !important

	.grid
		.grid-ul
			grid-template-columns: 1fr
			grid-template-rows: 1fr 1fr
			// grid-gap: $gap/2

			@include for-size(sm)
				grid-template-columns: 1fr 1fr
				grid-template-rows: 1fr
				grid-gap: $gap
			@media screen and (min-height: 1000px) and (max-width: 1200px)
				grid-template-columns: 1fr
				grid-template-rows: 1fr 1fr
				grid-gap: $gap/2

			&:before
				padding-bottom: 0%
			li
				align-self: middle
				img
					object-fit: contain
					max-width: 100%
					height: 40vh
					object-fit: contain
					position: relative
					// Obrázky natahují celý rám gridu
					@include for-size(sm)
						height: 60vh
				&:hover // Vztaženo k li elementu
					background-color: transparent
					img
						opacity: 1
					.hovertext
						opacity: 1
	.modal-wrap
		// min-height: 70vh
		display: grid
		padding-bottom: 2rem
		grid-area: content
		grid-template-columns: 8% $gap/2 repeat(4, 1fr) $gap/2 8%
		grid-template-areas: "mw mw mw mw mw mw mw mw"
		align-self: center !important
		@include for-size(sm)
			grid-template-areas: ". mw mw mw mw mw . ."
		@include for-size(md)
			grid-template-areas: ". . mw mw mw mw . ."
		// grid-gap: $gap
		
		.modal-window
			grid-area: mw
			display: grid
			position: relative
			grid-template-columns: $gap/2 repeat(4, 1fr) $gap/2
			grid-template-areas: "mt mt mt mt mt mt"
			@include for-size(md)
				grid-template-areas: ". . mt mt  . ."
			// background: red
			height: 100%
			.modal-close
				position: absolute
				top: 0
				right: 0
				width: $gap
				height: $gap
				content: url('../images/ico_close.svg')
				cursor: pointer
			.modal-content
				grid-area: mt
				align-self: center
				table
					width: 100%
					-webkit-border-horizontal-spacing: 0
					// -webkit-border-vertical-spacing: 0
					tbody
						tr
							td
								vertical-align: top
								padding-left: 0
								&:nth-child(1)
									// background: red
									width: 30%
									padding-right: $gap
									font-family: TriviaSansMedium, sans-serif

									
		.credentials
			.cred
				float: left
				width: 25%
				&:nth-child(2)
					width: 75%



// Výjimka z designu pro index page
.body_index
	.grid
		.grid-index
			grid-template-columns: 1fr !important
			grid-template-rows: 1fr 
			grid-gap: $gap/2
			&:before
				padding-bottom: 0%
			img
				object-fit: contain
				width: 100%
				height: 50vh
				position: relative
				// @include for-size(sm)
				// 	height: 70vh

	.footer
		grid-area: footer
		display: flex
		justify-content: center
		align-self: start !important

.body_pages
	ul
		padding-inline-start: 0
	.wrap
		grid-template-areas: "header header header header header header header" "content content content content content content content"  "content content content content content content content"  ". . . . . . ."  "footer footer footer footer footer footer footer"
		@include for-size(md)
			grid-template-areas: "header header header header header header header" ". . . . . . ."  "content content content content content content content"  ". . . . . . ."  "footer footer footer footer footer footer footer"

	.gridpages
		display: grid
		grid-area: content

		grid-template-columns: 1fr
		grid-template-rows: auto auto auto
		grid-template-areas: "nav" "img" "content"
		grid-gap: $gap/2
		@include for-size(md)
			grid-template-areas: "img content nav"
			grid-template-columns: 1fr 1fr 1fr
			grid-template-rows: 1fr
			grid-gap: $gap

		@include for-size(md)
			grid-gap: $gap
		@include for-size(lg)
			grid-gap: $gap*2
		height: 100%
		.obr
			grid-area: img
			// order: 2

		.text
			grid-area: content
			// order: 1

		.vertmenu
			grid-area: nav
			min-height: $gap
			// padding:  $gap 4%
			.defheight
				min-height: $gap
			// order: 0
			.nav
				display: flex
				-ms-flex-wrap: wrap
				flex-wrap: wrap
				padding-left: 0
				margin-bottom: 0
				list-style: none
				flex-direction: row
				justify-content: center
				@include for-size(md)
					flex-direction: column

				.nav-item
					margin-block-end: 0
					.nav-link
						display: inline-block
						font-family: TriviaSansMedium
						font-size: $font-size

.nav-link
	display: inline-block

// .grid
// 	overflow: hidden

// Modal

.closed
	display: none !important
	// background-color: white
.aos-init
	a
		img
			opacity: 0 !important
		.hovertext
			opacity: 1 !important
	@include for-size(sm)
		img
			opacity: 1 !important
		.hovertext
			opacity: 0 !important


.aos-animate
	a
		img
			opacity: 1 !important
		.hovertext
			opacity: 0 !important
.body_single,.body_pages	
	.modal-wrap, .text
		a
			@extend .nav-link
			// margin-bottom: -3px !important
			// line-height: 2 !important
			margin: 0
			padding: 0
			&::after 
				width: 100%
				background-color: $black
				margin-bottom: -3px
			// &:hover
			// 	&::after 
			// 		width: 0%
			// 		background-color: black


.sticky 
	position: fixed
	top: 0
	margin-left: - $gap/1.25
	width: 100%
	background-color: $white
	@include for-size(sm)
		margin-left: 0

.anchor
	position: absolute
	top: -90px

ol
	li
		list-style-type: decimal

