

div.menu
	div.logo
		a(href="index.html")
			img(src="images/logo.svg", alt="")
	nav.nav_menu
		ul.navbar-nav
			li.nav-item
				a.nav-link(href="projects.html") Projects
			li.nav-item
				a.nav-link(href="archive.html") Archive
			li.nav-item
				a.nav-link(href="profile.html") Profile
			li.nav-item
				a.nav-link(href="contact.html") Contacts
	nav.langer
		ul.navbar-nav.lang
			li.nav-item
				a.nav-link.active(href="index.html") CZ
			li.nav-item
				a.nav-link(href="index.html") EN