mixin mfooter (footerData)
	-  var ni = footerData+1
	-  var pi = footerData-1
	if (footerData >= projects.length -1)
		- var ni = 0
	if (footerData <= 0)
		- var pi = projects.length -1;
	br
	.footer
		.footer-left
			.pag-info
			br
			span
				a(href="single" + pi + ".html") Prev project
		div.project-text-modal #{projects[i].project[0].title}
			br
			span #{projects[i].project[0].rok}
			br
			a.open-button.active(href="#",onclick="return false" ) View text
		div.footer-right
			.pag-info2 
			br
			span
				a(href="single" + ni + ".html") Next project



div.menu
	div.logo
		a(href="index.html")
			img(src="images/logo.svg", alt="")
	nav.nav_menu
		ul.navbar-nav
			each item in pages
				li.nav-item 
					a.nav-link(href=item + ".html") #{item}
				
				
				

	nav.langer
		ul.navbar-nav.lang
			li.nav-item
				a.nav-link.active(href="index.html") CZ
			li.nav-item
				a.nav-link(href="index.html") EN