
div.logo 
	a(href="index.html")
		img(src="images/logo.svg", alt="")
div.menu
	nav
		ul.navbar-nav
			li.nav-item
				a.nav-link.active(href="index.html") Projects
			li.nav-item
				a.nav-link(href="") Archive
			li.nav-item
				a.nav-link(href="") Profile
			li.nav-item
				a.nav-link(href="") Contacts
div.lang CZ ENG