mixin mfooter (footerData)
	.footer
		.footer-left
			.pag-info
			br
			div
				a.nav-link(href="single2.html") Prev project
		div.project-text-modal #{projects[footerData].project[0].title}<br>
			a.open-button.nav-link.active(href="#",onclick="return false;" ) View text
		div.footer-right
			.pag-info2 
			br
			div
				a.nav-link(href="single1.html") Next project

div.menu
	div.logo
		a(href="index.html")
			img(src="images/logo.svg", alt="")
	nav.nav_menu
		ul.navbar-nav
			li.nav-item
				a.nav-link(href="projects.html") Projects
			li.nav-item
				a.nav-link(href="archive.html") Archive
			li.nav-item
				a.nav-link(href="profile.html") Profile
			li.nav-item
				a.nav-link(href="contact.html") Contacts
	nav.langer
		ul.navbar-nav.lang
			li.nav-item
				a.nav-link.active(href="index.html") CZ
			li.nav-item
				a.nav-link(href="index.html") EN