script.
			var content = document.querySelector("#content");
			var popiska = document.querySelector(".open-button");
			var modal = document.querySelector("#modal");
			var closeButton = document.querySelector("#close-button");
			var openButton = document.querySelector(".open-button");


			openButton.addEventListener("click", function() {
				content.classList.toggle("closed");
				//- popiska.classList.toggle("closed");
				modal.classList.toggle("closed");
				if (openButton.innerHTML === "View text") {
				    openButton.innerHTML = "Close text";
				  } else {
				    openButton.innerHTML = "View text";
				  }
			});

			closeButton.addEventListener("click", function() {
				modal.classList.toggle("closed");
				content.classList.toggle("closed");
				//- popiska.classList.toggle("closed");
				if (popiska.innerHTML === "View text") {
				    popiska.innerHTML = "Close text";
				  } else {
				    popiska.innerHTML = "View text";
				  }
			});

			//- $('.lazy').slick({
			//-   lazyLoad: 'ondemand',
			//-   slidesToShow: 2,
			//-   slidesToScroll: 2
			//- });


			
			$(document).ready(function(){
				var $status = $('.pag-info');
				var $status2 = $('.pag-info2');
				var $slickElement = $('.carousel');
				var $slickElement2 = $('.carousel2');

				$slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
				  //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
					var i = (currentSlide ? currentSlide : 0) + 1;
					$status.text(i + '/' + slick.slideCount);
				});

				$slickElement2.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
					//currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
					var i = (currentSlide ? currentSlide : 0) + 1;
					$status2.text(i + '/' + slick.slideCount);
				});


				$('.slider-for').slick({
					arrows: true,
					fade: false,
					asNavFor: '.carousel',
					variableWidth: false,
					focusOnSelect: false,
					accessibility: true,
					speed: 300,
					initialSlide: 0

				});

				$('.carousel').slick({
					arrows: true,
					asNavFor: '.slider-for',
					focusOnSelect: false,
					accessibility: true,
					speed: 300,
					initialSlide: 0
				});

				$('.carousel2').slick({
					focusOnSelect: false,
					accessibility: true,
					speed: 300,
					initialSlide: 0
				});

			});

	var pmodal = document.getElementById("myModal");
	var btn = document.getElementById("#myBtn");
	var span = document.getElementsByClassName("pclose")[0];
	var color = document.getElementById("body").style.backgroundColor

	$(document).keyup(function(e) {
	  if (e.keyCode == 27) { 
	  	pmodal.style.display = "none";
	   }   // esc
	});
	$('.img-close').click(function() {
	   pmodal.style.display = "none";
	});
	function mymodal() {
		  pmodal.style.display = "flex";
		  pmodal.style.background = color;
		  $('.slider-for').slick('refresh');
	}
	span.onclick = function() {
	  pmodal.style.display = "none";
	}
	//- slickSlide.onclick = function() {
	//-   pmodal.style.display = "none";
	//- }
	window.onclick = function(event) {
	  if (event.target == pmodal) {
	    pmodal.style.display = "none";
	  }
	}




