extends layout.pug
block body
	body.body_pages.scolor#body(style="background-color:" + site.scolor)
block content
	.gridpages
		.obr
			img.img-fluid(src="images/atelier.jpg", alt="")
			p Ateliér U Lužického semináře 26,  Praha 1

		.text
			h1 Office / Mailing Address
			p RCNKSK s.r.o. <br>
				| U Lužického semináře 26 <br>
				| 118 00 Praha 1 – Malá strana<br>
				a(href="https://g.page/RCNKSK?share", target="_blank").nav-link Zobrazit mapu
				<br><br>

			h1#biographies Kontakty
			p
				| Ateliér<br>
				a(href="tel:+420 605 875 464") +420 605 875 464
				br
				a(href="mailto:rcnksk@rcnksk.com") rcnksk@rcnksk.com
			p MgA. Filip Kosek  <br>
				a(href="tel:+420 777 030 425") +420 777 030 425
			p MgA. Jan Říčný <br>
				a(href="tel:+420 608 132 567") +420 608 132 567
			p RCNKSK authorization <br>
				| ČKA: 4606<br><br>
			
			h1#exhi Sídlo firmy
			p RCNKSK s.r.o.<br>
				| Na Pernikářce 775/26<br>
				| 160 00 Praha 6 – Dejvice<br>
				| Česká republika<br>
				| IČO 26454351<br>
				| DIČ CZ26454351
			p Bankovní spojení<br>
				| 2301356317/2010 <br>
				| Banka: Fio banka <br>
				| IBAN: CZ6520100000002301356317 <br>
				| SWIFT: fiobczppxxx <br>
			h1 Tiráž
			p Grafický design: Jan Svoboda<br>
				| Webdesign: Viktor Takáč <br>
				| &copy;2020 RCNKSK / Beta verze<br>
		.vertmenu
			ul.nav
				li.nav-item 
					a.nav-link(href="https://www.facebook.com/RCNKSKarch/", target="_blank") Facebook
				li.nav-item 
					a.nav-link(href="https://www.instagram.com/rcnksk.arch/" target="_blank") Instagram
				li.nav-item 
					a.nav-link(href="https://www.instagram.com/ppnck.rcnksk/", target="_blank") ppňčk

