extends layout.pug
block content
	div.wrap
		div.obdel
			ul
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa
				li aaa

