extends layout.pug
block body
	body#body.body_index
block content
		//- div.pagl 1/5
		//- div.pagr 1/5
		//- div.prev Prev project
		//- div.next Next project
		//- div.project-name Chappel of virgin mary
		//- div.project-where In nesvadbicky
		//- div.project-text-modal
		//- 	a(href="href#") View text
		
		div.grid#content
			ul.grid-index
				li
					div.carousel
						each item, index in gimg
							div
								a(href="single"+ index +".html")
									img(src=gimg[index][0][0] alt="")

		div.footer
					//- div.pagl 1/5
					//- div.pagr 1/5
					div.project-text-modal
						a.open-button.nav-link.active(href="projects.html" ) Projekty					

		//- div.grid
		//- 	ul
		//- 		li
		//- 			a(href="single.html")
		//- 				img(src="images/kaple.jpg", alt="")
		//- 				div.hovertext Něco cokoliv
		//- 		li
		//- 			img(src="images/img1.jpg", alt="")


		script.
			$(document).ready(function(){
				var $status = $('.pag-info');

				var $slickElement = $('.carousel');


				$slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
				  //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
					var i = (currentSlide ? currentSlide : 0) + 1;
					$status.text(i + '/' + slick.slideCount);
				});



				

				$('.carousel').slick({
					autoplay: true,
					autoplaySpeed: 2000,
				});



			});

