extends layout.pug
block content
		//- div.pagl 1/5
		//- div.pagr 1/5
		//- div.prev Prev project
		//- div.next Next project
		//- div.project-name Chappel of virgin mary
		//- div.project-where In nesvadbicky
		//- div.project-text-modal
		//- 	a(href="href#") View text
		div.grid
			ul
				li
					a(href="single.html")
						img(src="images/kaple.jpg", alt="")
						//- div.hovertext Něco cokoliv
				li
					img(src="images/img1.jpg", alt="")
				li
					img(src="images/img1.jpg", alt="")
				li
					img(src="images/img1.jpg", alt="")
				li
					img(src="images/img1.jpg", alt="")
				li
					img(src="images/img1.jpg", alt="")
				li
					img(src="images/img1.jpg", alt="")



