doctype html
html(lang="cs")
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="initial-scale=.6, maximum-scale=1, minimum-scale=.7, user-scalable=0")
		title
			block title
				| #{site.title}
		link(rel='stylesheet' href='css/styles.css')
	block body
	body.body_index
		div.wrap
			include partials/navbar.pug
			block content

