doctype html
html(lang="cs")
	head
		meta(charset='UTF-8')
		//- meta(name="viewport" content="initial-scale=.6, maximum-scale=1, minimum-scale=.7, user-scalable=0")
		meta(name="viewport" content="initial-scale=1, user-scalable=0")
		title
			block title
				| #{site.title}
		link(rel='stylesheet' href='css/styles.css')
		link(rel="stylesheet", href="/slick/slick.css")
		link(rel="stylesheet", href="/slick/slick-theme.css")

		link(rel="stylesheet", href="RCNKSK/dist/slick/slick.css")
		link(rel="stylesheet", href="RCNKSK/dist/slick/slick-theme.css")
		//- script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
		//- script(src='https://unpkg.com/vuex')
		//- script(src='https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js')

	block body
	body.body_index

		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type="text/javascript", src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(type="text/javascript", src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")

		div.wrap
			include partials/navbar.pug
			block content
	//- block footer
	//- 	include ../js/script.js