extends layout.pug
block body
	body.body_pages.scolor#body(style="background-color:" + site.scolor)
block content
	.gridpages
		.obr
			img.img-fluid(src="images/kuci.jpg", alt="")
			p RCNKSK founders:<br>Filip Kosek and Jan Říčný

		.text
			h1 O nás
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ratione sapiente commodi dolores velit aliquid omnis accusantium culpa reprehenderit numquam quae sit corporis nam, saepe et maxime totam quia alias.
			p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure minima officiis delectus laborum voluptatem explicabo voluptatum sequi, corporis cumque! Iusto quos pariatur quae voluptatibus perspiciatis, enim excepturi libero, ea.
			p Facilis reprehenderit quae a quasi eos ipsam ipsa harum animi, sequi vero praesentium veniam, nostrum ea dolores. Perspiciatis odit eum in temporibus ut maiores cumque, similique beatae vel. Atque, magnam.
			h1#biographies Biographies
			p Dolor quasi, nesciunt mollitia veniam adipisci cum placeat totam porro fuga odio, illum distinctio? Beatae atque quas aut soluta aperiam molestiae fuga repudiandae magni, ab ex. In ipsum, illo omnis?
			p In sit dignissimos similique hic natus quia eligendi, officia soluta maxime quidem perspiciatis accusamus ducimus assumenda labore rerum nemo. Doloremque deserunt debitis natus fugiat, cumque modi placeat reprehenderit fugit repellendus!
			p Architecto tempore labore alias eum officia voluptatibus unde corporis, totam, pariatur iusto corrupti consequatur nam magnam obcaecati eaque quas error ad. Voluptas esse pariatur at ullam nisi, ipsam vitae nesciunt.
			h1#exhi Exhibitions
			p Dolor quasi, nesciunt mollitia veniam adipisci cum placeat totam porro fuga odio, illum distinctio? Beatae atque quas aut soluta aperiam molestiae fuga repudiandae magni, ab ex. In ipsum, illo omnis?
			p In sit dignissimos similique hic natus quia eligendi, officia soluta maxime quidem perspiciatis accusamus ducimus assumenda labore rerum nemo. Doloremque deserunt debitis natus fugiat, cumque modi placeat reprehenderit fugit repellendus!
			p Architecto tempore labore alias eum officia voluptatibus unde corporis, totam, pariatur iusto corrupti consequatur nam magnam obcaecati eaque quas error ad. Voluptas esse pariatur at ullam nisi, ipsam vitae nesciunt.

		.vertmenu
			ul.nav
				li.nav-item 
					a.nav-link(href="#biographies") Biographies
				li.nav-item 
					a.nav-link(href="#exhi") Exhibitions
				li.nav-item 
					a.nav-link(href="#awards") Awards
				li.nav-item 
					a.nav-link(href="#colab") Collaborators
				li.nav-item 
					a.nav-link(href="#apps") Applications
				li.nav-item 
					a.nav-link(href="#press") Press
				li.nav-item 
					a.nav-link(href="#credits") Credits
