extends layout.pug
block body
	body.body_single.body_pages.scolor#body(style="background-color:" + site.scolor)
block content
	.grid#content
		ul.grid-ul

			.obr
				div asdfsdf

			.text
				h1 O nás
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ratione sapiente commodi dolores velit aliquid omnis accusantium culpa reprehenderit numquam quae sit corporis nam, saepe et maxime totam quia alias.
				p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iure minima officiis delectus laborum voluptatem explicabo voluptatum sequi, corporis cumque! Iusto quos pariatur quae voluptatibus perspiciatis, enim excepturi libero, ea.
				p Facilis reprehenderit quae a quasi eos ipsam ipsa harum animi, sequi vero praesentium veniam, nostrum ea dolores. Perspiciatis odit eum in temporibus ut maiores cumque, similique beatae vel. Atque, magnam.
				h1 Biographies
				div Dolor quasi, nesciunt mollitia veniam adipisci cum placeat totam porro fuga odio, illum distinctio? Beatae atque quas aut soluta aperiam molestiae fuga repudiandae magni, ab ex. In ipsum, illo omnis?
				div In sit dignissimos similique hic natus quia eligendi, officia soluta maxime quidem perspiciatis accusamus ducimus assumenda labore rerum nemo. Doloremque deserunt debitis natus fugiat, cumque modi placeat reprehenderit fugit repellendus!
				div Architecto tempore labore alias eum officia voluptatibus unde corporis, totam, pariatur iusto corrupti consequatur nam magnam obcaecati eaque quas error ad. Voluptas esse pariatur at ullam nisi, ipsam vitae nesciunt.

			.links
				span ladfjlsjkd
