extends layout.pug
block body
	body#body.body_projects
block content
		div.grid
			ul
				each item, index in projects
					//- p #{item.project[0].title}
					li
						a(href="single"+ index +".html" style="background-color:"+projects[index].project[0].bgcolor)
							if gimg[index]
								img(src=gimg[index][0][0], alt="", data-aos="fade-in")
							div.hovertext #{item.project[0].nickname}
		.script
			AOS.init()


