extends layout.pug
block body
	- var i = 2;
	body.body_single.pcolor#body(style="background-color:"+projects[i].project[0].bgcolor)
block content
		+mfooter(i)
		
		include partials/single_template.pug
		include partials/script.pug