extends layout.pug
block body
	- var i = 26;
	body.body_single.pcolor#body(style="background-color:"+projects[i].project[0].bgcolor)
block content
		+mfooter(i)
		+mimages(i)
		
		include partials/script.pug

